.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  overscroll-behavior: none;
  max-height: calc(100vh - 3.25rem);
}

.algolia-autocomplete .typesense-docsearch-suggestion--title {
  font-weight: 500;
}

.algolia-autocomplete .typesense-docsearch-suggestion .typesense-docsearch-suggestion--subcategory-column {
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: calc(100vw - 2.75rem) !important;
  }
}
